:root {
  --font-stack-primary: 'Lato', sans-serif;
  --font-stack-secondary: 'Roboto', serif;
  --primary-color: #0081A7;
  --background-color: #FDFCDC;
  --secondary-background-color: #FED9B7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-stack-primary);
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: var(--primary-color);
  /* Sets all text color*/
}

.pokeList {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.5em;
  list-style-type: none;
}
