:root {
  /* Colours selected from Coloor (https://coolors.co/588b8b-ffffff-ffd5c2-f28f3b-c8553d)*/
  --font-stack-primary: 'Lato', sans-serif;
  --font-stack-secondary: 'Roboto', serif;
  --primary-color: #0081a7;
  --secondary-color: #00afb9;
  --background-color: #ffffff;
  --secondary-background-color: #fed9b7;
  --third-background-color: #f07167;
  /* Dark red */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-stack-primary);
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: var(--primary-color);
  /* Sets all text color*/
  text-align: center;
  background-color: var(--background-color);

}

h1 {
  font-family: var(--font-stack-secondary);
  font-weight: 500;
  color: var(--primary-color);
  margin: 0;
}

.header {
  padding: 1em;
  background: var(--secondary-background-color);
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0 5em;
}

.my-button {
  width: 100%;
  color: var(--background-color);
  font-size: 1.5em;
  font-family: inherit;
  margin-top: 1em;
  border: none;
  display: inline-block;
  background-color: var(--third-background-color);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.5em;
  /* Transitions */
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.my-button:hover,
.my-button:focus {
  cursor: pointer;
  opacity: 0.8;
}
