:root {
  --font-stack-primary: 'Lato', sans-serif;
  --font-stack-secondary: 'Roboto', serif;
  --primary-color: #588b8b;
  --secondary-color: #f28f3b;
  --alert-color: #c8553d;
  --background-color: #ffffff;
  --secondary-background-color: #FFEDE6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-stack-primary);
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  color: var(--primary-color);
  /* Sets all text color*/
  text-align: center;
  background-color: var(--background-color);

}

h1 {
  font-family: var(--font-stack-secondary);
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0;
}

.header {
  padding: 1em;
  background: var(--secondary-background-color);
}

.pokeList {
  font-size: 1.5em;
  margin-top: 1.5em;
  list-style-type: none;
}

.pokeList p {
  font-size: 0.5em;
  list-style-type: none;
  color: var(--alert-color);
}

.my-button {
  
}
